#about{
  box-sizing: border-box;
  padding: 20px 10px 40px 10px;
  width: 100%;
  background: $about-background;
  

  .wrapper{
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }
  .helper{
    width: 100%;
  }
  .screen{
    position: relative;
    margin: 0 auto;
    border-radius: 20px 20px 0 0 ;
    background: #33485E;
    width: 77%;
    padding-bottom: 43.6%;
    @include media {
      width: 90%;
      padding-bottom: 60%;
    };
  }

  .base{
    background: #CCC;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 3%;
    border-radius: 0 0 10px 10px;
    position: relative;
    @include media {
      width: 100%;
    };
    .hole{
      position: absolute;
      margin: auto;
      left: 0; right: 0;
      width: 10%;
      height: 40%;
      background: white;
      border-radius: 0 0 10px 10px;
    }
  }
  .innerScreen{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 15px;
    right: 15px;
    background: $computer-background;
    @include media {
      top: 15px;
      bottom: 15px;
      left: 10px;
      right: 10px;
    };
  }
  .terminalWindow{
    border-radius: 5px;
    margin: 2% auto;
    color: white;
    width: 90%;
    height: 90%;
    background: #2A3D4F;
    @include media {
      height: 92%;
    };
    .icons{
      border-radius: 5px 5px 0 0;
      width: 100%;
      height: 5%;
      background: #D7D7D7;
    }
    .threeIcn{
      margin-top: 0.5%;
      float: left;
      width: 2%;
      border-radius: 50%;
      height: 62.5%;
      margin-left: 10px;
    }

    /* style for terminal  */
    .commands{
      text-align: left;
      box-sizing: border-box;
      width: 100%;
      height: 96%;
      padding: 2%;
      display: flex;
      flex-direction: column;
      align-items:stretch;
      font: normal 14px/normal "Lucida Console", Monaco, monospace;
      ::-webkit-scrollbar {
        background: transparent;  /* optional: just make scrollbar invisible */
      }
      font-size: 0.9em;
      @include media {
        font-size: 0.6em;
      };
      .history{
        flex-grow: 1;
        overflow: auto;
        max-height: 100%;
      }
      .input-container{
        display: flex;
      }
      input{
        flex-grow: 1;
        display: block;
        border: 0 solid #b7b7b7;
        padding-top: 3px;
        padding-left: 10px;
        // border-right-width: 1px;
        color: rgba(255,255,255,1);
        -o-text-overflow: clip;
        text-overflow: clip;
        background: transparent;
        outline: none;
      }
      .commandContainer{
        box-sizing: border-box;
        padding-bottom: 5px ;

        .title{
          color: white;
        }
        .result{
          padding: 2px 0 0 20px;
          color: rgba(147,161,161,0.8);

        }
      }
    }
  }

}
