
.circular{
  margin: 10px;
  width: 100px;
  .skillText{
    padding-top: 10px;
    font-size: 1em;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

.CircularProgress{
  display: block;

  .CircularProgress-Bg,
  .CircularProgress-Fg {
      fill: none;
  }

  .CircularProgress-Bg {
      stroke: #CCCCCC;
  }

  .CircularProgress-Fg {
      transition: stroke-dashoffset .5s ease-in-out;
      stroke: $highlight-color;
  }

  .CircularProgress-Text {
      font-family: "Courier New", Courier, monospace	;
      font-size: 1.8em;
      fill: black;
      transform: translate(0 50%);
  }

}
#skills{
  background: $skills-background;
  padding: 10px 10px 60px 10px;

  .wrapper{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    .circContainer{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

  }

}
