$header-background: #558C89;
$computer-background: #1AAF5C;
$about-background:#ECECEA ;
$portfolio-background: #74AFAD;
$skills-background: #ECECEA;
$contacts-background: #74AFAD;


@import url(https://fonts.googleapis.com/css?family=Roboto);
@mixin media($break: 600px) {
  @media only screen and (max-width: $break){
    @content;
  }
}

body{
  font-family: 'Roboto', sans-serif;
  margin-top: 60px;
}

#header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

#sections{
  position: relative;
  z-index: 0;
  color: lighten(black, 30);
}

.red{
  background: #C23824;
}
.yellow{
  background: #F2C500;
}
.green{
  background: #1AAF5D;
}
