$header-background: #4C5364;
$about-background: #C26868;
$portfolio-background: yellow;
$contacts-background: lightblue;


@import url(https://fonts.googleapis.com/css?family=Roboto);
@mixin media($break: 600px) {
  @media only screen and (max-width: $break){
    @content;
  }
}

body{
  font-family: 'Roboto', sans-serif;
}

#header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

#sections{
  margin-top: 60px;
  position: relative;
  z-index: 0;
}

.red{
  background: #C23824;
}
.yellow{
  background: #F2C500;
}
.green{
  background: #1AAF5D;
}
